.bg-blue{
    background-color: #003058;
    width: 100%;
}
.bg-low-blue{
    background-color: #2E76BB;
    width: 100;
}
.bg-white{
    background-color: #fff;
    width: 100%;
}
.bg-gray{
    background-color: #EFEFEF;
    width: 100%;
}
