$txt-white:             #fff;
$txt-black:             #000;
$txt-black-paragrahp:   #1C1C1C;
$txt-lemon-yellow:      #F7E82E;
$txt-mustard-yellow:    #E6CD0C;
$txt-yellow-amber:      #C6A108;
$txt-dark-blue:         #082F54;
$txt-royal-blue:        #38579F;
$txt-sky-blue:          #5991D8;
$txt-medium-gray:       #818181;
$txt_gray:              #767676;
$txt_charcoal_gray:     #616161;


//Borrar//
$txt-blue:                 #30688B;
$txt-dark-blue2:           #08365B;
$txt-low-blue:             #2E76BB;
$light-electric-blue:      #039AF8;
$txt-dark-gray:            #080808;
$txt-gray-titles:          #BABABA;
$bg-blue:                  #003058;
$bg-low-blue:              #2E76BB;
$bg-green:                 #35a70c;
$bg-midnight-deep-blue:    #30688B;
$bg-gray:                  #EFEFEF;

// BACKGROUNDS
$bg-white:           #ffff;
$bg-black:           #000;
$bg-dark-gray:       #080808;
$bg-dark-blue:       #082F54;
$bg-arctic:          #0ca4f7;
$bg-lemon-yellow:    #F7E82E;
$bg-light-gray:      #F5F5F5;


///////

